<!-- add-edit-book.component.html -->
<div class="Auth-form-container">
    <div class="Auth-form">
      <div class="Auth-form-content">
        <h3 class="Auth-form-title">Add Book</h3>
        <div class="textField-label">
          <label for="bookName">Book Title</label><br />
          <input [(ngModel)]="book.book_name" type="text" id="bookName" class="textField-input" placeholder="Enter Book Title" />
        </div>
        <div class="textField-label">
          <label for="bookAuthor">Book Author</label><br />
          <input [(ngModel)]="book.author" type="text" id="bookAuthor" class="textField-input" placeholder="Enter Author Name" />
        </div>
        <div class="textField-label">
          <label for="description">Description</label><br />
          <textarea [(ngModel)]="book.about_book" id="description" class="textField-input" placeholder="Enter Description..."></textarea>
        </div>
        <div class="textField-label">
          <label for="bookPrice">Price ($)</label><br />
          <input [(ngModel)]="book.price" type="number" id="bookPrice" class="textField-input" placeholder="Enter Price" />
        </div>
  
        <!-- <div class="flex-container">
          <span class="display-file"></span>
          <button>Remove</button>
        </div>
        <div class='drop-area-normal' (click)="uploadFile()">
          <p>Upload File</p>
        </div> -->
        <div class="flex-container">        <input type="file" id="upload-element"  class="file-upload" (change)="onFileSelected($event)" #hidden/>
          <input #fileInput type="file" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx" />

        </div>
  
        <div class="Auth-form-title">
          <button class="submit-button" (click)="addBook()">Submit</button>

        </div>
      </div>
    </div>
  </div>
  