body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .menu-item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #fff;
    text-align: center; /* Center the content horizontally */
  }
  
  .menu-item img {
    max-width: 100%; /* Limit image width to container width */
    height: 200px; /* Maintain aspect ratio */
    display: inline-block; /* Ensure proper display */
    margin-bottom: 10px; /* Add space below the image */
  }
  
  .menu-item h2 {
    margin-top: 0;
  }
  
  .menu-item p:last-child {
    margin-bottom: 0;
  }
  