<div>
    <div class="parent">
        <h1>Our Collection</h1>
    </div>
    <div class='parent'>
        <button type="button" (click)="addBook()" class="btn btn-primary">ADD BOOK</button>
        <button type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
        <button type="button" class="btn btn-info" (click)="profile()">Update Profile</button>  </div>
  <div class='parent'>
    <div class="child" *ngFor="let book of books_data.content">
        <app-book-tile  [book]="book"></app-book-tile>
    </div>
  </div>
  <div class="parent">
    <div class="child">
        <mat-paginator [length]="books_data.totalElements"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
        (page)="onPageChange($event)">
  </mat-paginator>
    </div>
  </div>
  </div>